
body {
    margin: 0;
    height: 100%;
    width: 100%;
    min-width:  340px;
    max-width: 100%;
}


.container  {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background: transparent;
    height: 100%;
    width: 100%;
}

.background  {
    background: url(img/sea_bg.jpg);
    background-size: cover;
    background-position: center center;
 }

.scene {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.layer div  {
    position: absolute;
    height: 100%;
    width: 100%;
}

.coral-zero {
    transform: scale(0.83);
}
.coral-first {
    transform: scale(0.5);
}

.coral-second {
    transform: scale(0.45);
}

.coral-third {
    transform: scale(0.35);
}

.coral-four {
    transform: scale(0.7);
}

.coral-five {
    transform: scale(0.65);
}

.coral-wrapper-zero {
    z-index: 30;
    left: 80% !important;
    top: 63% !important;
}

.coral-wrapper-first {
    z-index: 35;
    left: -4% !important;
    top: 70% !important;
}

.coral-wrapper-second {
    z-index: 45;
    left: 48% !important;
    top: 83% !important;
}

.coral-wrapper-third {
    z-index: 50;
    left: 36% !important;
    top: 61% !important;
}

.coral-wrapper-four {
    z-index: 35;
    left: 54% !important;
    top: 48% !important;
}

.coral-wrapper-five {
    z-index: 30;
    left: -14% !important;
    top: 48% !important;
}

.person-info {
    position: fixed;
    height: 300px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1000;
    top: 50% !important;
    left: 50% !important;
    margin: 0 auto;
    transform: translate(-50%, -50%)!important;
    color: #50505E;
    font-family: 'Indie Flower', cursive;
}

.person-info div h2 {
    padding: 16px 30px;
    font-size: 1.4em;
}

.person-info div h3 {
    padding: 0 30px;
}

.icon-nav {
    text-align: center;
}

.icon-nav a {
    text-decoration: none;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    color: #50505E;
    transition: 0.4s ease;
}

.icon-nav a:hover {
    color: #222;

}


/*@keyframe moveFish {
    from {transform: rotateY(0);}
    to {transform: rotateY(40deg);}
}
*/

/*.shark {
    top: -8px;
    left: 200px;
    transform: scale(0.04);
    animation: slidein 33s infinite;
}

.shark img {
    animation: swim 2s infinite;
    transition: 0.1s;
}

.many-fish {
    top: -226px;
    left: 650px;
    transform: scale(0.043);
}

.fish7 {
    top: 370px;
    left: -134px;
    transform: scale(0.4);
}

.fish-blue-two-1 {
    top: 496px;
    left: 784px;
    transform: scale(0.35);
}

.fish-blue-two-2 {
    top: 398px;
    left: 784px;
    transform: scale(0.3);
}

.fish-blue-two-3 {
    top: 440px;
    left: 689px;
    transform: scale(0.3);
}

.shark-two {
    top: -82px;
    left: 200px;
    transform: scale(0.3);
}

.fish6 {
    top: 400px;
    left: 0;
    transform: scale(0.2);
}



.fish-blue {
    top: 424px;
    left: 0;
    transform: scale(0.2);
}

.meduza {
    top: -232px;
    left: 1110px;
    transform: scale(0.15);
}

.meduza2 {
    top: -182px;
    left: -292px;
    transform: scale(0.06);
}

.meduza3 {
    top: 410px;
    left: 320px;
    transform: scale(0.2);
}

.fish-blue-one {
    top: 600px;
    left: 1120px;
    transform: scale(0.3);
}

.fish-blue2 {
    top: 380px;
    left: 960px;
    transform: scale(0.3);
}

.fish3 {
    top: 672px;
    left: 614px;
    transform: scale(0.45);
}

*/
